body {
    margin: 0px;
}

#page {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

#header {
    background-color: rgb(42, 46, 69);
    color: white;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 0px 20px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

#content-wrapper {
    display: flex;
}

#menu {
    background-color: rgb(219, 211, 205);
    min-width: 200px;
    min-height: 83vh;
    padding: 20px 20px 0px 20px;
}

#buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

#page-content-wrapper {
    background-color: rgb(255, 255, 255);
    padding-left: 100px;
    width: 60vw;
}


#footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(42, 46, 69);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}

.button-icon-wrapper {
    background-color: rgb(219, 211, 205);
    border: none;
    padding: 10px 20px 10px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.button-icon-wrapper:hover {
    background-color: rgb(222, 198, 181);
    cursor: pointer;
}

.button-icon-wrapper-checked {
    background-color: rgb(222, 198, 181);
    border: none;
    padding: 10px 20px 10px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}


h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-input {
    width: 200px;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

.add-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-add-project {
    visibility: visible;
    padding-top: 10px;
}

#btn-add-project-dom, #btn-cancel-add-project-dom {
    background-color: rgb(222, 198, 181);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    display: flex;
    align-items: center;
    max-width: 100px;
    font-weight: 600;
    justify-content: center;
}

#btn-add-project-dom:hover {
    background-color: rgb(156, 195, 124);
    cursor: pointer;
}

#btn-cancel-add-project-dom:hover {
    background-color: rgb(225, 143, 143);
    cursor: pointer;
}

#btns-add-project-dom {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-add-task {
    width: 100%;
    background-color: rgb(219, 211, 205);
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

.btn-add-task:hover {
    background-color: rgb(222, 198, 181);
    cursor: pointer;
}